.controls {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.document {
    position: absolute;
    left: 0%;
    top: 0%;
}

.newEditor {
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    box-shadow: -2px -2px 5px black;
    width: 400px;
    height: 100vh;
}